/****** General ***********/
* {
	font-family: "Raleway", sans-serif;
}
:root {
	--main-color: #0065fc;
	--main-bg-color: #f2f2f2;
	--filter-bg-color: #deebff;
}
.fa-solid,
.fa-regular {
	color: var(--main-color);
}

.html .body {
	display: flex;
	justify-content: center;
	margin: 0;
	padding: 0;
}
/*-- Navigation image, filters, and search bar below--*/
.title-bar {
	display: flex;
	justify-content: space-between;
	margin-top: 0px;
}

.booki-title {
	background-image: url(../images/logo/Booki.png);
	background-repeat: no-repeat;
	background-size: contain;
	width: 100px;
	height: 75px;
	margin-left: 15px;
	margin-top: 10px;
}
.menu {
	list-style-type: none;
	padding: 0;
	display: flex;
}

.menu li {
	position: relative;
	margin-right: 60px;
	cursor: pointer;
	color: #000000;
	transition: color 0.3s;
}

.menu li:hover {
	color: var(--main-color);
}

.menu li span::before {
	content: "";
	position: absolute;
	top: -24px;
	left: 0;
	width: 100%;
	height: 3px;
	background-color: var(--main-color);
	transition: width 0.3s;
	width: 0;
}

.menu li:hover span::before {
	width: 100%;
}

.menu li span {
	display: grid;
	padding: 0px;
}

a:link:visited {
	color: black !important;
	text-decoration: none;
}
a:link {
	text-decoration: none;
	color: black !important;
	display: grid;
}

.search {
	display: flex;
	background-color: var(--main-color);
	border-radius: 15px;
}

.search-bar {
	padding: 15px;
	font-weight: 700;
	font-size: 18px;
	border: 1px solid var(--main-bg-color);
	width: 338px;
	height: 49px;
}

.fa-location-dot {
	color: black;
	background-color: var(--main-bg-color);
	border-radius: 15px 0 0 15px;
	border: 1px solid var(--main-bg-color);
	align-content: space-between;
	padding: 15px;
	font-size: 18px;
}
.search-button {
	background-color: var(--main-color);
	border-radius: 0px 15px 15px 0px;
	font-weight: 700;
	color: var(--main-bg-color);

	padding: 15px;
	font-size: 18px;
	border: none;
}

.main-statement {
	max-width: 1340px;
	width: 90%;
	max-width: 1340px;
	width: 90%;
	margin: 0 auto;
}

.filters {
	display: flex;
	font-weight: 700;
	font-size: 18px;
	gap: 5px;
	align-items: center;
	padding-left: 5px;
}
.filter-items {
	list-style-type: none;
	padding: 0px;
	margin: 20px;
	display: flex;
	gap: 15px;
}
.filter-items li {
	border-radius: 20px;
	align-content: center;
	border: 2px solid var(--main-bg-color);
}

.info-container {
	/* display: flex;
	font-size: 16px;
	font-weight: 400; */
}
.info-section {
	display: flex;
	align-items: center;
	padding-left: 20px;
}
.fa-info {
	border-radius: 1.25rem;
	border: 1px solid #d9d9d9;
	display: flex;
	width: 24px;
	height: 24px;
	align-items: center;
	justify-content: center;
	margin-right: 10px;
}

.filter-items li:hover {
	background-color: #deebff;
	cursor: pointer;
	border-radius: 15px;
}

.filter-items span {
	display: flex;
	align-items: center;
	padding: 8px 16px;
	gap: 10px;
}

.filter-items i {
	margin-right: 8px;
	font-size: 1.2em;
}

.header-container {
	max-width: 1340px;
	width: 90%;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}
.main-container {
	max-width: 1340px;
	width: 90%;
	margin: 0 auto;
}
.section-title {
	margin: 0;
	font-size: 22px;
}
.card {
	background-color: white;
	border-radius: 20px;
	padding: 5px;
	filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
	color: inherit;
	object-fit: cover;
}
.card-title {
	font-size: 16px;
}
.usd {
	font-weight: 700;
}
.neutralStar {
	color: var(--main-bg-color);
}
/****** Accommodation And Popular ***********/
.accommodation-and-popular {
	display: grid;
	gap: 20px;
	grid-template-columns: 2fr 1fr;
}

.accommodation-and-popular section {
	background-color: var(--main-bg-color);
	border-radius: 15px;
	padding: 15px 30px 15px;
	box-sizing: border-box;
	/* width: 100%; 
	 margin: 20px;
	gap: 4px; */
}

/****** Accommodation ***********/
.accommodation {
	/* max-width: 100%;
	grid-column: 1 / 2;
	justify-self: start; */
}
.accommodation-title {
	/* display: flex;
	justify-content: space-between;
	flex-direction: row; */
	margin-bottom: 20px;
}
.accommodation-cards {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(2, 1fr);
	gap: 20px;
	transition: box-shadow 0.3s ease;
}
.accommodation-cards img {
	width: 100%;
	height: 120px;
	border-radius: 15px 15px 0px 0px;
	border: 5px;
	object-fit: cover;
}

.sm {
	margin: none;
}

/****** Popular ***********/
.popular {
	/* max-width: 100%;
	padding: 0px;
	grid-column: 2 / 3;
	justify-self: start; */
}
.popular-title {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.popular-cards .card {
	display: flex;
	margin-top: 33px;
}
.popular-cards img {
	width: 33%;
	height: 136px;
	border-top-left-radius: 15px;
	border-bottom-left-radius: 15px;
	object-fit: cover;
}
.popular-cards .card-content {
	width: 67%;
	padding-left: 15px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	box-sizing: border-box;
}
.popular-cards .card-title {
	margin-top: 10px;
	margin-bottom: 4px;
}
.popular-cards .card-subtitle {
	margin: 0;
}
.popular-cards .card-rating {
	margin-bottom: 5px;
}

/****** Things to do ********/
.ttd-container {
	display: flex;
}
.things-to-do-title {
	font-size: 22px;
	display: grid;
	grid-template-rows: repeat(1, 1fr);
}

.things-to-do {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 30px;
	padding-bottom: 30px;
}

.ttd-card {
	display: flex;
	flex-direction: column;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	text-decoration: none;
	color: inherit;
	border-radius: 15px;
	box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 12px;
	/* gap: 15px; */
	object-fit: cover;
}
.ttd-card img {
	width: 100%;
	height: 100%;
	/* border-radius: 15px 15px 0px 0px; */
	border: none;
	gap: 15px;
	object-fit: cover;
}

.ttd-card-title {
	/* display: flex; */
	font-size: 16px;
	padding-left: 5%;
}

.footer {
	margin: 0;
	line-height: 2;
	background-color: var(--main-bg-color);
}
.footer-container {
	display: flex;
	max-width: 1340px;
	width: 90%;
	max-width: 1340px;
	width: 90%;
}

/* footer */
.footer-section {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	flex: 1;
	padding: 20px;
}

.footer-section h4 {
	margin: 0;
}
.footer-section ul {
	margin: 0;
	list-style-type: none;
	text-decoration: none;
	color: inherit;
	padding-left: 0px;
}

.footer-section li {
	margin: 5px 0;
}

.footer-section a {
	color: inherit;
	text-decoration: none;
}

.footer-section a:visited {
	color: inherit;
	text-decoration: none;
}

/* for tablets*/

@media (max-width: 1024px) {
	.accommodation-and-popular {
		display: grid;
		grid-template-columns: 1fr;
		gap: 50px;
	}
	.popular-cards {
		display: grid;
		grid-template-rows: 1fr;
		grid-template-columns: 1fr 1fr 1fr;
		gap: 20px;
	}
	.popular-cards {
		display: grid;
		grid-template-rows: 1fr;
		grid-template-columns: 1fr 1fr 1fr;
		gap: 20px;
	}
	.things-to-do-title {
		padding-top: 50px;
		padding-bottom: 15px;
	}
	.things-to-do {
		max-width: 1024px;
		max-height: 90%;
		padding: 0;
	}
	/* TODO; adjust sizing of ttd cards, having issues with image resolution as well */
	.ttd-card {
		height: 85%;
	}
	.ttd-card img {
		max-height: 85%;
		object-fit: cover;
	}
	.ttd-card-title {
		/* text-align: center;
		overflow: hidden; */
		padding: 6px;
		margin: 0;
	}
	.footer {
		position: relative;
	}
	.footer-container {
		position: absolute;
		background-color: #f2f2f2;
		left: 50px;
	}
}
